.header-container {
	display: flex;
	justify-content: space-between;
	margin-left: calc(10% - 12px);
}

.header,
input {
	font-weight: 300;
}

.header{
	margin: $marg 0 3.5rem 0;
}

form{
	margin: $marg $marg 3.5rem 0;

	button{ @include btnTransition }

	input{
		margin-left: -2px;
		padding: 5px 12px;
		border: 1px solid $grey;
		outline: none;
	}
}
button:hover{
	@include btnTransition;
	background: darken($action, 10%)
}