@mixin btnTransition {
	transition: background ease-in-out 320ms;
}

//  ###### COLORS ######
$text: #333;
$grey: #979797;
$action: #CEF3E9;
$darkGrey: #5A5A5A;
$issueBgGrey: #f8f8f8;


// ##### SPACING ######
$marg: 2.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

